# Publisher

This is to publish static tweets into server, in pratice, this should be replaced by Twitter API

In [1]:
import socket, json
from time import s leep
import pandas as pd
PATH = "dataset/covid_.csv"

In [3]:
# each line -> json format
def convertLineToJson(df, idx):
    tmp_dict = dict()
#     tmp_dict["Time_Index"] = df.iloc[idx]["Time_Index"]
#     tmp_dict["Tweet_ID"] = df.iloc[idx]["Tweet_ID"]
    tmp_dict["Time_Index"] = str(df.iloc[idx]["index"])
    tmp_dict["Tweet_Text"] = df.iloc[idx]["Text"]
    return tmp_dict
    

def publisher(dataFrame, time_interval = 0.5):
    
    # initialize port config
    TCP_IP = "localhost"
    TCP_PORT = 9991
    conn = None
    # set up socket
    s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
    s.bind((TCP_IP, TCP_PORT))
    s.listen(5)
    
    # send data
    print("Waiting for TCP connection...")
    conn, addr = s.accept()
    idx = 0
    while(True):
        try:
            length = len(dataFrame)
            for i in range(idx, length):
                json_format = convertLineToJson(dataFrame, i)
                conn.send(str(json.dumps(json_format) + '\n').encode('utf8'))
                #conn.send(str("jiajia"))
                print(str(i) + "th Tweet is Published!")
                #print(json_format)
                sleep(time_interval)    
        except socket.error:
            idx = i
            print("ISocket error({0}): {1}".format(e.errno, e.strerror))
        print(str(i) + "th Tweet errors!")

In [4]:
df = pd.read_csv(PATH, header = None)[1:]
# df.columns = ["Time_Index", "Tweet_ID", "Tweet_Text", "Sentiment_Score", "Sentiment_Label"]
df.columns = ["Text", "Sentiment"]
df.reset_index(level=0, inplace=True)
df.index = df["index"].apply(lambda x: str(x))
df.head(5)
publisher(df)

Waiting for TCP connection...
0th Tweet is Published!
1th Tweet is Published!
2th Tweet is Published!
3th Tweet is Published!
4th Tweet is Published!
5th Tweet is Published!
6th Tweet is Published!
7th Tweet is Published!
8th Tweet is Published!
9th Tweet is Published!
10th Tweet is Published!
11th Tweet is Published!
12th Tweet is Published!
13th Tweet is Published!
14th Tweet is Published!
15th Tweet is Published!
16th Tweet is Published!
17th Tweet is Published!
18th Tweet is Published!
19th Tweet is Published!
20th Tweet is Published!
21th Tweet is Published!
22th Tweet is Published!
23th Tweet is Published!
24th Tweet is Published!
25th Tweet is Published!
26th Tweet is Published!
27th Tweet is Published!
28th Tweet is Published!
29th Tweet is Published!
30th Tweet is Published!
31th Tweet is Published!
32th Tweet is Published!
33th Tweet is Published!
34th Tweet is Published!
35th Tweet is Published!
36th Tweet is Published!
37th Tweet is Published!
38th Tweet is Published!
39th Tweet is Published!
40th Tweet is Published!
41th Tweet is Published!
42th Tweet is Published!
43th Tweet is Published!
44th Tweet is Published!
45th Tweet is Published!
46th Tweet is Published!
47th Tweet is Published!
48th Tweet is Published!
49th Tweet is Published!
50th Tweet is Published!
51th Tweet is Published!
52th Tweet is Published!
53th Tweet is Published!
54th Tweet is Published!
55th Tweet is Published!
56th Tweet is Published!
57th Tweet is Published!
58th Tweet is Published!
59th Tweet is Published!
60th Tweet is Published!
61th Tweet is Published!
62th Tweet is Published!
63th Tweet is Published!
64th Tweet is Published!
65th Tweet is Published!
66th Tweet is Published!
67th Tweet is Published!
68th Tweet is Published!
69th Tweet is Published!
70th Tweet is Published!
71th Tweet is Published!
72th Tweet is Published!
73th Tweet is Published!
74th Tweet is Published!
75th Tweet is Published!
76th Tweet is Published!
77th Tweet is Published!
78th Tweet is Published!
79th Tweet is Published!
80th Tweet is Published!
81th Tweet is Published!
82th Tweet is Published!
83th Tweet is Published!
84th Tweet is Published!
85th Tweet is Published!
86th Tweet is Published!
87th Tweet is Published!
88th Tweet is Published!
89th Tweet is Published!
90th Tweet is Published!
91th Tweet is Published!
92th Tweet is Published!
93th Tweet is Published!
94th Tweet is Published!
95th Tweet is Published!
96th Tweet is Published!
97th Tweet is Published!
98th Tweet is Published!
99th Tweet is Published!
100th Tweet is Published!
101th Tweet is Published!
102th Tweet is Published!
103th Tweet is Published!
104th Tweet is Published!
105th Tweet is Published!
106th Tweet is Published!
107th Tweet is Published!
108th Tweet is Published!
109th Tweet is Published!
110th Tweet is Published!
111th Tweet is Published!
112th Tweet is Published!
113th Tweet is Published!
114th Tweet is Published!
115th Tweet is Published!
116th Tweet is Published!
117th Tweet is Published!
118th Tweet is Published!
119th Tweet is Published!
120th Tweet is Published!
121th Tweet is Published!
122th Tweet is Published!
123th Tweet is Published!
124th Tweet is Published!
125th Tweet is Published!
126th Tweet is Published!
127th Tweet is Published!
128th Tweet is Published!
129th Tweet is Published!
130th Tweet is Published!
131th Tweet is Published!
132th Tweet is Published!
133th Tweet is Published!
134th Tweet is Published!
135th Tweet is Published!
136th Tweet is Published!
137th Tweet is Published!
138th Tweet is Published!
139th Tweet is Published!
140th Tweet is Published!
141th Tweet is Published!
142th Tweet is Published!
143th Tweet is Published!
144th Tweet is Published!
145th Tweet is Published!
146th Tweet is Published!
147th Tweet is Published!
148th Tweet is Published!
149th Tweet is Published!
150th Tweet is Published!
151th Tweet is Published!
152th Tweet is Published!
153th Tweet is Published!
154th Tweet is Published!
155th Tweet is Published!
156th Tweet is Published!
157th Tweet is Published!
158th Tweet is Published!
159th Tweet is Published!
160th Tweet is Published!
161th Tweet is Published!
162th Tweet is Published!
163th Tweet is Published!
164th Tweet is Published!
165th Tweet is Published!
166th Tweet is Published!
167th Tweet is Published!
168th Tweet is Published!
169th Tweet is Published!
170th Tweet is Published!
171th Tweet is Published!
172th Tweet is Published!
173th Tweet is Published!
174th Tweet is Published!
175th Tweet is Published!
176th Tweet is Published!
177th Tweet is Published!
178th Tweet is Published!
179th Tweet is Published!
180th Tweet is Published!
181th Tweet is Published!
182th Tweet is Published!
183th Tweet is Published!
184th Tweet is Published!
185th Tweet is Published!
186th Tweet is Published!
187th Tweet is Published!
188th Tweet is Published!
189th Tweet is Published!
190th Tweet is Published!
191th Tweet is Published!
192th Tweet is Published!
193th Tweet is Published!
194th Tweet is Published!
195th Tweet is Published!
196th Tweet is Published!
197th Tweet is Published!
198th Tweet is Published!
199th Tweet is Published!
200th Tweet is Published!
201th Tweet is Published!
202th Tweet is Published!
203th Tweet is Published!
204th Tweet is Published!
205th Tweet is Published!
206th Tweet is Published!
207th Tweet is Published!
208th Tweet is Published!
209th Tweet is Published!
210th Tweet is Published!
211th Tweet is Published!
212th Tweet is Published!
213th Tweet is Published!
214th Tweet is Published!
215th Tweet is Published!
216th Tweet is Published!
217th Tweet is Published!
218th Tweet is Published!
219th Tweet is Published!
220th Tweet is Published!
221th Tweet is Published!
222th Tweet is Published!
223th Tweet is Published!
224th Tweet is Published!
225th Tweet is Published!
226th Tweet is Published!
227th Tweet is Published!
228th Tweet is Published!
229th Tweet is Published!
230th Tweet is Published!
231th Tweet is Published!
232th Tweet is Published!
233th Tweet is Published!
234th Tweet is Published!
235th Tweet is Published!
236th Tweet is Published!
237th Tweet is Published!
238th Tweet is Published!
239th Tweet is Published!
240th Tweet is Published!
241th Tweet is Published!
242th Tweet is Published!
243th Tweet is Published!
244th Tweet is Published!
245th Tweet is Published!
246th Tweet is Published!
247th Tweet is Published!
248th Tweet is Published!
249th Tweet is Published!
250th Tweet is Published!
251th Tweet is Published!
252th Tweet is Published!
253th Tweet is Published!
254th Tweet is Published!
255th Tweet is Published!
256th Tweet is Published!
257th Tweet is Published!
258th Tweet is Published!
259th Tweet is Published!
260th Tweet is Published!
261th Tweet is Published!
262th Tweet is Published!
263th Tweet is Published!
264th Tweet is Published!
265th Tweet is Published!
266th Tweet is Published!
267th Tweet is Published!
268th Tweet is Published!
269th Tweet is Published!
270th Tweet is Published!
271th Tweet is Published!
272th Tweet is Published!
273th Tweet is Published!
274th Tweet is Published!
275th Tweet is Published!
276th Tweet is Published!
277th Tweet is Published!
278th Tweet is Published!
279th Tweet is Published!
280th Tweet is Published!
281th Tweet is Published!
282th Tweet is Published!
283th Tweet is Published!
284th Tweet is Published!
285th Tweet is Published!
286th Tweet is Published!
287th Tweet is Published!
288th Tweet is Published!
289th Tweet is Published!
290th Tweet is Published!
291th Tweet is Published!
292th Tweet is Published!
293th Tweet is Published!
294th Tweet is Published!
295th Tweet is Published!
296th Tweet is Published!
297th Tweet is Published!
298th Tweet is Published!
299th Tweet is Published!
300th Tweet is Published!
301th Tweet is Published!
302th Tweet is Published!
303th Tweet is Published!
304th Tweet is Published!
305th Tweet is Published!
306th Tweet is Published!
307th Tweet is Published!
308th Tweet is Published!
309th Tweet is Published!
310th Tweet is Published!
311th Tweet is Published!
312th Tweet is Published!
313th Tweet is Published!
314th Tweet is Published!
315th Tweet is Published!
316th Tweet is Published!
317th Tweet is Published!
318th Tweet is Published!

319th Tweet is Published!
320th Tweet is Published!
321th Tweet is Published!
322th Tweet is Published!
323th Tweet is Published!
324th Tweet is Published!
325th Tweet is Published!
326th Tweet is Published!
327th Tweet is Published!
328th Tweet is Published!
329th Tweet is Published!
330th Tweet is Published!
331th Tweet is Published!
332th Tweet is Published!
333th Tweet is Published!
334th Tweet is Published!
335th Tweet is Published!
336th Tweet is Published!
337th Tweet is Published!
338th Tweet is Published!
339th Tweet is Published!
340th Tweet is Published!
341th Tweet is Published!
342th Tweet is Published!
343th Tweet is Published!
344th Tweet is Published!
345th Tweet is Published!
346th Tweet is Published!
347th Tweet is Published!
348th Tweet is Published!
349th Tweet is Published!
350th Tweet is Published!
351th Tweet is Published!
352th Tweet is Published!
353th Tweet is Published!
354th Tweet is Published!
355th Tweet is Published!
356th Tweet is Published!
357th Tweet is Published!
358th Tweet is Published!
359th Tweet is Published!
360th Tweet is Published!
361th Tweet is Published!
362th Tweet is Published!
363th Tweet is Published!
364th Tweet is Published!
365th Tweet is Published!
366th Tweet is Published!
367th Tweet is Published!
368th Tweet is Published!
369th Tweet is Published!
370th Tweet is Published!
371th Tweet is Published!
372th Tweet is Published!
373th Tweet is Published!
374th Tweet is Published!
375th Tweet is Published!
376th Tweet is Published!
377th Tweet is Published!
378th Tweet is Published!
379th Tweet is Published!
380th Tweet is Published!
381th Tweet is Published!
382th Tweet is Published!
383th Tweet is Published!
384th Tweet is Published!
385th Tweet is Published!
386th Tweet is Published!
387th Tweet is Published!
388th Tweet is Published!
389th Tweet is Published!
390th Tweet is Published!
391th Tweet is Published!
392th Tweet is Published!
393th Tweet is Published!
394th Tweet is Published!
395th Tweet is Published!
396th Tweet is Published!
397th Tweet is Published!
398th Tweet is Published!
399th Tweet is Published!
400th Tweet is Published!
401th Tweet is Published!
402th Tweet is Published!
403th Tweet is Published!
404th Tweet is Published!
405th Tweet is Published!
406th Tweet is Published!
407th Tweet is Published!
408th Tweet is Published!
409th Tweet is Published!
410th Tweet is Published!
411th Tweet is Published!
412th Tweet is Published!
413th Tweet is Published!
414th Tweet is Published!
415th Tweet is Published!
416th Tweet is Published!
417th Tweet is Published!
418th Tweet is Published!
419th Tweet is Published!
420th Tweet is Published!
421th Tweet is Published!
422th Tweet is Published!
423th Tweet is Published!
424th Tweet is Published!
425th Tweet is Published!
426th Tweet is Published!
427th Tweet is Published!
428th Tweet is Published!

KeyboardInterrupt: